
@{
    ViewBag.Title = "Home Page";
}

@model DotNet.Highcharts.Highcharts
@{
    ViewBag.Title = "Inicio";
}
<hr />
<div class="row">
    <div>
        <div class="col-md-12 ">
            @(Model)
        </div>
    </div>
</div>


